@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.bottom_box{
    width: 100%;
    bottom: 10px;
    position: fixed;
    text-align:center;
}

.top_ft{
    background: #0f5da5;
    height: 30%;
    width: 100%;
    padding: 0;
    margin: 0;

    background: url(images/one.jpg) center center no-repeat;
    background-size: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 10px;
}

.top_ft_text{
    color: white;
    text-align: center;

    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 24px;

    margin: 0;
    margin-top: 18px;
}

.top_ft_text2{
    color: white;
    text-align: center;

    font-family: 'Raleway', sans-serif;
    font-size: 14px;

    margin: 0;
    margin-top: 8px;
}

.avatar{
    border-radius: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    background: url(images/one.jpg) center center no-repeat;
    border: 3px solid #FFFFFF;

    height: 100px;
    width: 100px;

    padding: 1em;
    align-self: center;
}

.content{
    width: 100%;
}

.reso{
    display: flex;
    flex-direction: column;
    justify-content: left;

    margin: 10px;
}

.type_reso{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.type_reso_text{
    width: 100%;
    height: 100%;

    font-size: 20px;

    margin-left: 8px;
}