body{
    color: white;
    background-color: black;

    margin: 0;
    padding: 0;

    background: linear-gradient(359.82deg, #000000 0.84%, rgba(0, 0, 0, 0.35) 99.83%), url(https://sun9-5.userapi.com/impf/_3An4bM3-qIFXPycpe-jK61A6GJHvuPK4YE-pw/31BkS9VRigs.jpg?size=2110x2160&quality=96&proxy=1&sign=fa9574c059ff4f15e4fe17f3d9babb45&type=album);

    /*
    font-size: 7vw;
    */
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
  }
 
#center{
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) 
}

#allsed{
    font-size: 10vw;

    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

#text_god{
    font-size: 4vw;
    margin: 0;

    font-family: 'Roboto', sans-serif;
}

#bottom{
    width: 100%;
    left: 0;
    bottom: 30px;
    position: absolute;
    text-align:center;

    /*background-color: aquamarine;*/
}

#Add_Button{

    font-family: 'Roboto', sans-serif;

    font-size: 15px;

    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 38px;
    outline: none;
    border: 0;

    vertical-align:bottom;
    vertical-align:baseline;
}

#Info_Button{

    font-family: 'Roboto', sans-serif;

    font-size: 15px;

    padding: 1em;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 38px;
    outline: none;
    border: 0;

    vertical-align:bottom;
    vertical-align:baseline;
    
}